#drop
{
    color: white;
    margin-right: 20px; 
}
.space
{
    color: white;
    margin-right: 20px;
}

.brand{
    color: white;
    font-size:xx-large;
    margin-right: 50px;
}
.brand:hover
{
   color:rgb(148, 148, 226);
}
.space:hover{
    color:rgb(148, 148, 226);
    cursor: pointer;
}
.head
{
    font-size: larger;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #283446;
}