*{
    margin: 0;
    padding: 0;
}
.container-center{
/*    
   background-image: url('../images/logo.png');
   background-repeat: no-repeat;
   background-size:cover; */
    background: linear-gradient(15deg,#1a2056a7,#5250bd,#08076f);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.center-form{
text-align: center;
align-items: center;
justify-content: center;
background-color: rgba(240, 240, 246, 0.5);
padding: 30px 0px;
border-radius: 10px;
}