.qbtn{
    padding: 5px;
    background-color:rgb(51,51,51) ;
    color: white;
    border-style: none;
    border-radius: 5px;
    width: 150px;
    margin-bottom: 5px;
}
.qbtn:hover{
    transform: scale(1.1);
}
.add
{
    align-items: center;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    color:Black ;
    background-color: white;
    border-width: 1px;
    margin-left: 5px;
    margin-right: 5px;
}
.options
{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 4px;
}